<div>
    <h2>
        <span jhiTranslate="psClubManagerApp.tariff.home.title">Tariffs</span>
        <button class="btn btn-primary float-right jh-create-entity create-tariff" [routerLink]="['/', { outlets: { popup: ['tariff-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="psClubManagerApp.tariff.home.createLabel">
            Create new Tariff
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psClubManagerApp.tariff.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tariffs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="psClubManagerApp.tariff.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="currency"><span jhiTranslate="psClubManagerApp.tariff.currency">Currency</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="psClubManagerApp.tariff.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="flagDeleted"><span jhiTranslate="psClubManagerApp.tariff.flagDeleted">Flag Deleted</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="containerClass"><span jhiTranslate="psClubManagerApp.tariff.containerClass">Container Class</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="containerId"><span jhiTranslate="psClubManagerApp.tariff.containerId">Container Id</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tariff of tariffs ;trackBy: trackId">
                <td><a [routerLink]="['../tariff', tariff.id ]">{{tariff.id}}</a></td>
                <td>{{tariff.price}}</td>
                <td jhiTranslate="{{'psClubManagerApp.CurrencyType.' + tariff.currency}}">{{tariff.currency}}</td>
                <td>{{tariff.createdDate | date:'medium'}}</td>
                <td>{{tariff.flagDeleted}}</td>
                <td>{{tariff.containerClass}}</td>
                <td>{{tariff.containerId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tariff', tariff.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tariff/'+ tariff.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tariff/'+ tariff.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
