
<div *ngIf="tariff">
    <h2><span jhiTranslate="psClubManagerApp.tariff.detail.title">Tariff</span> {{tariff.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.tariff.price">Price</span></dt>
        <dd>
            <span>{{tariff.price}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.tariff.currency">Currency</span></dt>
        <dd>
            <span jhiTranslate="{{'psClubManagerApp.CurrencyType.' + tariff.currency}}">{{tariff.currency}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.tariff.createdDate">Created Date</span></dt>
        <dd>
            <span>{{tariff.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.tariff.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{tariff.flagDeleted}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.tariff.containerClass">Container Class</span></dt>
        <dd>
            <span>{{tariff.containerClass}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.tariff.containerId">Container Id</span></dt>
        <dd>
            <span>{{tariff.containerId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tariff/'+ tariff.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
