
<div *ngIf="location">
    <h2><span jhiTranslate="psClubManagerApp.location.detail.title">Location</span> {{location.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.location.street">Street</span></dt>
        <dd>
            <span>{{location.street}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.location.homeNumber">Home Number</span></dt>
        <dd>
            <span>{{location.homeNumber}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.location.aptNumber">Apt Number</span></dt>
        <dd>
            <span>{{location.aptNumber}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.location.lon">Lon</span></dt>
        <dd>
            <span>{{location.lon}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.location.lat">Lat</span></dt>
        <dd>
            <span>{{location.lat}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.location.osmId">Osm Id</span></dt>
        <dd>
            <span>{{location.osmId}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.location.city">City</span></dt>
        <dd>
            <div *ngIf="location.city">
                <a [routerLink]="['/city-dictionary', location.city?.id]">{{location.city?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'location/'+ location.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
