<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLocationLabel" jhiTranslate="psClubManagerApp.location.home.createOrEditLabel">Create or edit a Location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!location.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="location.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.location.street" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street"
                [(ngModel)]="location.street" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.location.homeNumber" for="field_homeNumber">Home Number</label>
            <input type="text" class="form-control" name="homeNumber" id="field_homeNumber"
                [(ngModel)]="location.homeNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.location.aptNumber" for="field_aptNumber">Apt Number</label>
            <input type="text" class="form-control" name="aptNumber" id="field_aptNumber"
                [(ngModel)]="location.aptNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.location.lon" for="field_lon">Lon</label>
            <input type="text" class="form-control" name="lon" id="field_lon"
                [(ngModel)]="location.lon" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.location.lat" for="field_lat">Lat</label>
            <input type="text" class="form-control" name="lat" id="field_lat"
                [(ngModel)]="location.lat" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.location.osmId" for="field_osmId">Osm Id</label>
            <input type="number" class="form-control" name="osmId" id="field_osmId"
                [(ngModel)]="location.osmId" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.location.city" for="field_city">City</label>
            <select class="form-control" id="field_city" name="city" [(ngModel)]="location.city" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cityDictionaryOption.id === location.city?.id ? location.city : cityDictionaryOption" *ngFor="let cityDictionaryOption of citydictionaries; trackBy: trackCityDictionaryById">{{cityDictionaryOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
