<div>
    <h2>
        <span jhiTranslate="psClubManagerApp.gameDictionary.home.title">Game Dictionaries</span>
        <button class="btn btn-primary float-right jh-create-entity create-game-dictionary" [routerLink]="['/', { outlets: { popup: ['game-dictionary-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="psClubManagerApp.gameDictionary.home.createLabel">
            Create new Game Dictionary
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psClubManagerApp.gameDictionary.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="gameDictionaries">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="psClubManagerApp.gameDictionary.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="psClubManagerApp.gameDictionary.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="psClubManagerApp.gameDictionary.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avatar.id"><span jhiTranslate="psClubManagerApp.gameDictionary.avatar">Avatar</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let gameDictionary of gameDictionaries ;trackBy: trackId">
                <td><a [routerLink]="['../game-dictionary', gameDictionary.id ]">{{gameDictionary.id}}</a></td>
                <td>{{gameDictionary.name}}</td>
                <td>{{gameDictionary.description}}</td>
                <td>{{gameDictionary.code}}</td>
                <td>
                    <div *ngIf="gameDictionary.avatar">
                        <a [routerLink]="['../attachment-file', gameDictionary.avatar?.id ]" >{{gameDictionary.avatar?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../game-dictionary', gameDictionary.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game-dictionary/'+ gameDictionary.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game-dictionary/'+ gameDictionary.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
