
<div *ngIf="gameDictionary">
    <h2><span jhiTranslate="psClubManagerApp.gameDictionary.detail.title">Game Dictionary</span> {{gameDictionary.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.gameDictionary.name">Name</span></dt>
        <dd>
            <span>{{gameDictionary.name}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.gameDictionary.description">Description</span></dt>
        <dd>
            <span>{{gameDictionary.description}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.gameDictionary.code">Code</span></dt>
        <dd>
            <span>{{gameDictionary.code}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.gameDictionary.avatar">Avatar</span></dt>
        <dd>
            <div *ngIf="gameDictionary.avatar">
                <a [routerLink]="['/attachment-file', gameDictionary.avatar?.id]">{{gameDictionary.avatar?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'game-dictionary/'+ gameDictionary.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
