
<div *ngIf="zone">
    <h2><span jhiTranslate="psClubManagerApp.zone.detail.title">Zone</span> {{zone.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.zone.name">Name</span></dt>
        <dd>
            <span>{{zone.name}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.zone.description">Description</span></dt>
        <dd>
            <span>{{zone.description}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.zone.seatsAmount">Seats Amount</span></dt>
        <dd>
            <span>{{zone.seatsAmount}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.zone.joysticksAmountRegulation">Joysticks Amount Regulation</span></dt>
        <dd>
            <span>{{zone.joysticksAmountRegulation}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.zone.tvDiagonal">Tv Diagonal</span></dt>
        <dd>
            <span>{{zone.tvDiagonal}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.zone.tvResolution">Tv Resolution</span></dt>
        <dd>
            <span>{{zone.tvResolution}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.zone.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{zone.flagDeleted}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.zone.minimumPlayMinutesRegulation">Minimum Play Minutes Regulation</span></dt>
        <dd>
            <span>{{zone.minimumPlayMinutesRegulation}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.zone.pricePerHour">Price Per Hour</span></dt>
        <dd>
            <div *ngIf="zone.pricePerHour">
                <a [routerLink]="['/tariff', zone.pricePerHour?.id]">{{zone.pricePerHour?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.zone.console">Console</span></dt>
        <dd>
            <div *ngIf="zone.console">
                <a [routerLink]="['/console-dictionary', zone.console?.id]">{{zone.console?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.zone.type">Type</span></dt>
        <dd>
            <div *ngIf="zone.type">
                <a [routerLink]="['/zone-dictionary', zone.type?.id]">{{zone.type?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.zone.club">Club</span></dt>
        <dd>
            <div *ngIf="zone.club">
                <a [routerLink]="['/club', zone.club?.id]">{{zone.club?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'zone/'+ zone.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
