<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myZoneLabel" jhiTranslate="psClubManagerApp.zone.home.createOrEditLabel">Create or edit a Zone</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group row">
            <label class="form-control-label col-md-3 text-right" jhiTranslate="psClubManagerApp.zone.name" for="field_name">Name</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="name" id="field_name"
                       [(ngModel)]="zone.name" required/>
                <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-3 text-right" jhiTranslate="psClubManagerApp.zone.description" for="field_description">Description</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="description" id="field_description"
                       [(ngModel)]="zone.description" />
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-3 text-right" jhiTranslate="psClubManagerApp.zone.type" for="field_type">Type</label>
            <div class="col-md-8">
                <select class="form-control" id="field_type" name="type" [(ngModel)]="zone.type" required>
                    <option [ngValue]="null"></option>
                    <option [ngValue]="zoneDictionaryOption.id === zone.type?.id ? zone.type : zoneDictionaryOption" *ngFor="let zoneDictionaryOption of zonedictionaries; trackBy: trackZoneDictionaryById">{{zoneDictionaryOption.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psClubManagerApp.zone.seatsAmount" for="field_seatsAmount">Seats Amount</label>
                    <input type="number" class="form-control" name="seatsAmount" id="field_seatsAmount"
                           [(ngModel)]="zone.seatsAmount" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psClubManagerApp.zone.console" for="field_console">Console</label>
                    <select class="form-control" id="field_console" name="console" [(ngModel)]="zone.console" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="consoleOption.id === zone.console?.id ? zone.console : consoleOption" *ngFor="let consoleOption of club.consoles; trackBy: trackConsoleDictionaryById">{{consoleOption.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psClubManagerApp.zone.tvDiagonal" for="field_tvDiagonal">Tv Diagonal</label>
                    <input type="number" class="form-control" name="tvDiagonal" id="field_tvDiagonal"
                           [(ngModel)]="zone.tvDiagonal" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psClubManagerApp.zone.tvResolution" for="field_tvResolution">Tv Resolution</label>
                    <input type="number" class="form-control" name="tvResolution" id="field_tvResolution"
                           [(ngModel)]="zone.tvResolution" />
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
