<div>
    <h2>
        <span jhiTranslate="psClubManagerApp.zone.home.title">Zones</span>
        <button class="btn btn-primary float-right jh-create-entity create-zone" [routerLink]="['/', { outlets: { popup: ['zone-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="psClubManagerApp.zone.home.createLabel">
            Create new Zone
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psClubManagerApp.zone.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="zones">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="psClubManagerApp.zone.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="psClubManagerApp.zone.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="seatsAmount"><span jhiTranslate="psClubManagerApp.zone.seatsAmount">Seats Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="joysticksAmountRegulation"><span jhiTranslate="psClubManagerApp.zone.joysticksAmountRegulation">Joysticks Amount Regulation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tvDiagonal"><span jhiTranslate="psClubManagerApp.zone.tvDiagonal">Tv Diagonal</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tvResolution"><span jhiTranslate="psClubManagerApp.zone.tvResolution">Tv Resolution</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="flagDeleted"><span jhiTranslate="psClubManagerApp.zone.flagDeleted">Flag Deleted</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="minimumPlayMinutesRegulation"><span jhiTranslate="psClubManagerApp.zone.minimumPlayMinutesRegulation">Minimum Play Minutes Regulation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pricePerHour.id"><span jhiTranslate="psClubManagerApp.zone.pricePerHour">Price Per Hour</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="console.id"><span jhiTranslate="psClubManagerApp.zone.console">Console</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type.id"><span jhiTranslate="psClubManagerApp.zone.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="club.id"><span jhiTranslate="psClubManagerApp.zone.club">Club</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zone of zones ;trackBy: trackId">
                <td><a [routerLink]="['../zone', zone.id ]">{{zone.id}}</a></td>
                <td>{{zone.name}}</td>
                <td>{{zone.description}}</td>
                <td>{{zone.seatsAmount}}</td>
                <td>{{zone.joysticksAmountRegulation}}</td>
                <td>{{zone.tvDiagonal}}</td>
                <td>{{zone.tvResolution}}</td>
                <td>{{zone.flagDeleted}}</td>
                <td>{{zone.minimumPlayMinutesRegulation}}</td>
                <td>
                    <div *ngIf="zone.pricePerHour">
                        <a [routerLink]="['../tariff', zone.pricePerHour?.id ]" >{{zone.pricePerHour?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="zone.console">
                        <a [routerLink]="['../console-dictionary', zone.console?.id ]" >{{zone.console?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="zone.type">
                        <a [routerLink]="['../zone-dictionary', zone.type?.id ]" >{{zone.type?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="zone.club">
                        <a [routerLink]="['../club', zone.club?.id ]" >{{zone.club?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../zone', zone.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'zone/'+ zone.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'zone/'+ zone.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="zones && zones.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
