<div>
    <h2>
        <span jhiTranslate="psClubManagerApp.club.home.title">Clubs</span>
        <button class="btn btn-primary float-right jh-create-entity create-club" [routerLink]="'../club-new'">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="psClubManagerApp.club.home.createLabel">
            Create new Club
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psClubManagerApp.club.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clubs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="psClubManagerApp.club.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="psClubManagerApp.club.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fullAddress"><span jhiTranslate="psClubManagerApp.club.fullAddress">Full Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lon"><span jhiTranslate="psClubManagerApp.club.lon">Lon</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lat"><span jhiTranslate="psClubManagerApp.club.lat">Lat</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="timeScheduleRegulation"><span jhiTranslate="psClubManagerApp.club.timeScheduleRegulation">Time Schedule Regulation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="flaghookah"><span jhiTranslate="psClubManagerApp.club.flaghookah">Flaghookah</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phone"><span jhiTranslate="psClubManagerApp.club.phone">Phone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phoneOptional"><span jhiTranslate="psClubManagerApp.club.phoneOptional">Phone Optional</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="vkUrl"><span jhiTranslate="psClubManagerApp.club.vkUrl">Vk Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="instaUrl"><span jhiTranslate="psClubManagerApp.club.instaUrl">Insta Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telegramUrl"><span jhiTranslate="psClubManagerApp.club.telegramUrl">Telegram Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="facebookUrl"><span jhiTranslate="psClubManagerApp.club.facebookUrl">Facebook Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="twitterUrl"><span jhiTranslate="psClubManagerApp.club.twitterUrl">Twitter Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avatar.id"><span jhiTranslate="psClubManagerApp.club.avatar">Avatar</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let club of clubs ;trackBy: trackId">
                <td><a [routerLink]="['../club', club.id ]">{{club.id}}</a></td>
                <td>{{club.name}}</td>
                <td>{{club.description}}</td>
                <td>{{club.fullAddress}}</td>
                <td>{{club.lon}}</td>
                <td>{{club.lat}}</td>
                <td>{{club.timeScheduleRegulation}}</td>
                <td>{{club.flaghookah}}</td>
                <td>{{club.phone}}</td>
                <td>{{club.phoneOptional}}</td>
                <td>{{club.vkUrl}}</td>
                <td>{{club.instaUrl}}</td>
                <td>{{club.telegramUrl}}</td>
                <td>{{club.facebookUrl}}</td>
                <td>{{club.twitterUrl}}</td>
                <td>
                    <div *ngIf="club.avatar">
                        <a [routerLink]="['../attachment-file', club.avatar?.id ]" >{{club.avatar?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../club', club.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'club/'+ club.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'club/'+ club.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
