
<div *ngIf="club">
    <h2><span jhiTranslate="psClubManagerApp.club.detail.title">Club</span> {{club.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.club.name">Name</span></dt>
        <dd>
            <span>{{club.name}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.description">Description</span></dt>
        <dd>
            <span>{{club.description}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.fullAddress">Full Address</span></dt>
        <dd>
            <span>{{club.fullAddress}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.lon">Lon</span></dt>
        <dd>
            <span>{{club.lon}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.lat">Lat</span></dt>
        <dd>
            <span>{{club.lat}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.timeScheduleRegulation">Time Schedule Regulation</span></dt>
        <dd>
            <span>{{club.timeScheduleRegulation}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.flaghookah">Flaghookah</span></dt>
        <dd>
            <span>{{club.flaghookah}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.phone">Phone</span></dt>
        <dd>
            <span>{{club.phone}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.phoneOptional">Phone Optional</span></dt>
        <dd>
            <span>{{club.phoneOptional}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.vkUrl">Vk Url</span></dt>
        <dd>
            <span>{{club.vkUrl}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.instaUrl">Insta Url</span></dt>
        <dd>
            <span>{{club.instaUrl}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.telegramUrl">Telegram Url</span></dt>
        <dd>
            <span>{{club.telegramUrl}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.facebookUrl">Facebook Url</span></dt>
        <dd>
            <span>{{club.facebookUrl}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.twitterUrl">Twitter Url</span></dt>
        <dd>
            <span>{{club.twitterUrl}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.avatar">Avatar</span></dt>
        <dd>
            <div *ngIf="club.avatar">
                <a [routerLink]="['/attachment-file', club.avatar?.id]">{{club.avatar?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.console">Console</span></dt>
        <dd>
            <span *ngFor="let console of club.consoles; let last = last">
                <a [routerLink]="['/console-dictionary', console?.id ]">{{console.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.game">Game</span></dt>
        <dd>
            <span *ngFor="let game of club.games; let last = last">
                <a [routerLink]="['/game-dictionary', game?.id ]">{{game.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.club.gallery">Gallery</span></dt>
        <dd>
            <span *ngFor="let gallery of club.galleries; let last = last">
                <a [routerLink]="['/attachment-file', gallery?.id ]">{{gallery.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'club/'+ club.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
