<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myClubLabel" jhiTranslate="psClubManagerApp.club.home.createOrEditLabel">Create or edit a Club</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <jhi-alert-error></jhi-alert-error>

                <ngb-accordion #acc="ngbAccordion" activeIds="main-info" [closeOthers]="true">
                    <ngb-panel id="main-info">
                        <ng-template ngbPanelTitle>
                            <span>Основная информация</span>&nbsp;
                            <i class="fa fa-asterisk" *ngIf="!club.flagMainInfoSaved; else mainInfoSaved"></i>
                            <ng-template #mainInfoSaved><i class="fa fa-check"></i></ng-template>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="modal-body">
                                <jhi-alert></jhi-alert>
                                <div class="form-group row">
                                    <label class="form-control-label col-md-3 text-right" jhiTranslate="psClubManagerApp.club.avatar" for="field_avatar">Avatar</label>
                                    <div class="col-md-6">
                                        <div>
                                            <img [src]="'data:' + avatar.attachmentContentType + ';base64,' + avatar.attachment" style="max-height: 100px;" *ngIf="avatar.attachment" alt="attachmentFile image"/>
                                            <div *ngIf="avatar.attachment" class="form-text text-danger clearfix">
                                                <span class="pull-left">{{avatar.attachmentContentType}}, {{byteSize(avatar.attachment)}}</span>
                                                <button type="button" (click)="clearInputImage('attachment', 'attachmentContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                                    <span class="fa fa-times"></span>
                                                </button>
                                            </div>
                                            <input type="file" id="field_avatar" (change)="setFileData($event, avatar, 'attachment', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                                        </div>
                                        <input type="hidden" class="form-control" name="attachment" id="field_attachment"
                                               [(ngModel)]="avatar.attachment" />
                                        <input type="hidden" class="form-control" name="attachmentContentType" id="field_attachmentContentType"
                                               [(ngModel)]="avatar.attachmentContentType" />

                                        <!--<select class="form-control" id="field_avatar" name="avatar" [(ngModel)]="club.avatar" >
                                            <option [ngValue]="null"></option>
                                            <option [ngValue]="attachmentFileOption.id === club.avatar?.id ? club.avatar : attachmentFileOption" *ngFor="let attachmentFileOption of attachmentfiles; trackBy: trackAttachmentFileById">{{attachmentFileOption.id}}</option>
                                        </select>-->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="form-control-label col-md-3 text-right" jhiTranslate="psClubManagerApp.club.name" for="field_name">Name</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="name" id="field_name"
                                               [(ngModel)]="club.name" required/>
                                        <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="form-control-label col-md-3 text-right" jhiTranslate="psClubManagerApp.club.description" for="field_description">Description</label>
                                    <div class="col-md-6">
                                <textarea type="text" class="form-control" name="description" id="field_description" rows="8"
                                          [(ngModel)]="club.description">{{club.description}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="form-control-label col-md-3 text-right" jhiTranslate="psClubManagerApp.club.gallery" for="field_gallery">Gallery</label>
                                    <div class="col-md-6">
                                        <select class="form-control" id="field_gallery" multiple name="gallery" [(ngModel)]="club.galleries">
                                            <option [ngValue]="getSelected(club.galleries, attachmentFileOption)" *ngFor="let attachmentFileOption of attachmentfiles; trackBy: trackAttachmentFileById">{{attachmentFileOption.id}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" (click)="saveMainInfo()" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                                    <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            Регламент
                            <i class="fa fa-check" *ngIf="club.flagRegulationSaved"></i>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="modal-body">
                                <jhi-alert></jhi-alert>
                                <div class="form-group row">
                                    <label class="form-control-label col-md-3 text-right"
                                           jhiTranslate="psClubManagerApp.club.timeScheduleRegulation"
                                           for="field_timeScheduleRegulation">Time Schedule Regulation</label>
                                    <div class="col-md-6">

                                        <!--<nouislider [min]="0" [max]="20" [step]="1" [formControl]="form1.controls.single"></nouislider>-->

                                        <ngb-timepicker id="field_timeScheduleRegulation" [(ngModel)]="timeScheduleRegulation" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                                        <!--<input type="number" class="form-control" name="timeScheduleRegulation" id="field_timeScheduleRegulation"
                                               [(ngModel)]="club.timeScheduleRegulation" />-->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="form-control-label col-md-3 text-right" for="field_notifyBefore">Notify before</label>
                                    <div class="col-md-6">
                                        <ngb-timepicker id="field_notifyBefore" [(ngModel)]="notifyBefore" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                                        <!--<input type="number" class="form-control" name="timeScheduleRegulation" id="field_timeScheduleRegulation"
                                               [(ngModel)]="club.timeScheduleRegulation" />-->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="form-control-label col-md-3 text-right" jhiTranslate="psClubManagerApp.club.flaghookah" for="field_flaghookah">Flaghookah</label>
                                    <div class="col-md-6">
                                        <input type="checkbox" class="form-control" name="flaghookah" id="field_flaghookah"
                                               [(ngModel)]="club.flaghookah" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="form-control-label col-md-3 text-right">Режим работы</label>
                                    <div class="col-md-9">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>
                                                        День
                                                    </th>
                                                    <th>Режим</th>
                                                    <th>
                                                        Начало
                                                    </th>
                                                    <th>
                                                        Закрывается
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let dayRegime of dayRegimes">
                                                    <td>
                                                        {{'psClubManagerApp.dayRegime.'+dayRegime.daySeq | translate}}
                                                    </td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-sm"
                                                                    [ngClass]="{'btn-info': dayRegime.flagTime,
                                                                    'btn-outline-dark': !dayRegime.flagTime}"
                                                                    (click)="selectDayRegimeType(1, dayRegime)">Время</button>
                                                            <button type="button" class="btn btn-sm"
                                                                    [ngClass]="{'btn-info': dayRegime.flagAllDayLong,
                                                                    'btn-outline-dark': !dayRegime.flagAllDayLong}"
                                                                    (click)="selectDayRegimeType(2, dayRegime)">24</button>
                                                            <button type="button" class="btn btn-sm"
                                                                    [ngClass]="{'btn-info': dayRegime.flagRestDay,
                                                                    'btn-outline-dark': !dayRegime.flagRestDay}"
                                                                    (click)="selectDayRegimeType(3, dayRegime)">Выходной</button>
                                                        </div>
                                                    </td>
                                                    <td *ngIf="!dayRegime.flagRestDay">
                                                        <ngb-timepicker [(ngModel)]="dayRegime.openedAt" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                                                    </td>
                                                    <td *ngIf="!dayRegime.flagRestDay">
                                                        <ngb-timepicker [(ngModel)]="dayRegime.closedAt" [ngModelOptions]="{standalone: true}" *ngIf="dayRegime.flagTime"></ngb-timepicker>
                                                        <span *ngIf="dayRegime.flagAllDayLong">Круглые сутки</span>
                                                    </td>
                                                    <td colspan="2" *ngIf="dayRegime.flagRestDay">
                                                        <span>Выходной день</span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" (click)="saveRegulation()" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                                    <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span>Координаты</span>&nbsp;
                            <i class="fa fa-asterisk" *ngIf="!club.flagLocationSaved; else locationSaved"></i>
                            <ng-template #locationSaved><i class="fa fa-check"></i></ng-template>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="modal-body">
                                <jhi-alert></jhi-alert>
                                <div class="form-group row">
                                    <label class="form-control-label col-md-3 text-right" for="field_city">Город</label>
                                    <div class="col-md-6">
                                        <select class="form-control" id="field_city" name="city" [(ngModel)]="location.city" required>
                                            <option [ngValue]="null"></option>
                                            <option [ngValue]="cityOption.id === location.city?.id ? location.city : cityOption" *ngFor="let cityOption of cities; trackBy: cityById">{{cityOption.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="form-control-label col-md-3 text-right" for="typeahead-http-osm">Адрес</label>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3">
                                                <i class="fa fa-map-marker" *ngIf="!searching"></i>
                                                <i class="fa fa-spinner fa-pulse" *ngIf="searching"></i>
                                            </span>
                                            </div>
                                            <ng-template #rty let-r="result" let-t="term">
                                                {{ r.display_name}}
                                            </ng-template>
                                            <input id="typeahead-http-osm" type="text" class="form-control" name="osm"
                                                   [class.is-invalid]="searchFailed"
                                                   (selectItem)="selectedOsmItem($event)"
                                                   [(ngModel)]="modelOsm"
                                                   [ngbTypeahead]="searchOsm"
                                                   [resultTemplate]="rty"
                                                   [inputFormatter]="formatterOsm" placeholder="Поиск адреса..." required/>
                                        </div>
                                        <div class="invalid-feedback" *ngIf="searchFailed">
                                            <small class="form-text text-danger">
                                                Адрес не найден. Попробуйте подобрать, изменив или добавив буквы!
                                            </small>
                                        </div>
                                        <div [hidden]="!(editForm.controls.fullAddress?.dirty && editForm.controls.fullAddress?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.fullAddress?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" (click)="saveAddress()" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                                    <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span>Контакты</span>
                            <i class="fa fa-asterisk" *ngIf="!club.flagContactSaved; else contactSaved"></i>
                            <ng-template #contactSaved><i class="fa fa-check"></i></ng-template>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="modal-body">
                                <jhi-alert></jhi-alert>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                                                </div>
                                                <input type="text" class="form-control" name="phone" id="field_phone" aria-describedby="basic-addon1"
                                                       [(ngModel)]="club.phone" placeholder="Телефон 1" required/>
                                            </div>
                                            <div [hidden]="!(editForm.controls.phone?.dirty && editForm.controls.phone?.invalid)">
                                                <small class="form-text text-danger"
                                                       [hidden]="!editForm.controls.phone?.errors?.required" jhiTranslate="entity.validation.required">
                                                    This field is required.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="insta-addon"><i class="fa fa-instagram"></i></span>
                                                </div>
                                                <input type="text" class="form-control" name="instaUrl" id="field_instaUrl"
                                                       [(ngModel)]="club.instaUrl" placeholder="instagram" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="vk-addon"><i class="fa fa-vk"></i></span>
                                                </div>
                                                <input type="text" class="form-control" name="vkUrl" id="field_vkUrl"
                                                       [(ngModel)]="club.vkUrl" placeholder="vk.com"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="twitter-addon"><i class="fa fa-twitter"></i></span>
                                                </div>
                                                <input type="text" class="form-control" name="twitterUrl" id="field_twitterUrl"
                                                       [(ngModel)]="club.twitterUrl" placeholder="twitter"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-phone"></i></span>
                                                </div>
                                                <input type="text" class="form-control" name="phoneOptional" id="field_phoneOptional" aria-describedby="basic-addon2"
                                                       [(ngModel)]="club.phoneOptional" placeholder="Телефон 2" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="fb-addon"><i class="fa fa-facebook"></i></span>
                                                </div>
                                                <input type="text" class="form-control" name="facebookUrl" id="field_facebookUrl"
                                                       [(ngModel)]="club.facebookUrl" placeholder="facebook.com" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="telegram-addon"><i class="fa fa-telegram"></i></span>
                                                </div>
                                                <input type="text" class="form-control" name="telegramUrl" id="field_telegramUrl"
                                                       [(ngModel)]="club.telegramUrl" placeholder="Telegram" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="website-addon"><i class="fa fa-globe"></i></span>
                                                </div>
                                                <input type="text" class="form-control" name="webUrl" id="field_webUrl"
                                                       [(ngModel)]="club.webUrl" placeholder="Вебсайт" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" (click)="saveContact()" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                                    <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span>Оборудования</span>
                            <i class="fa fa-check" *ngIf="club.flagEquipmentSaved"></i>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="modal-body">
                                <jhi-alert></jhi-alert>
                                <div class="form-group row">
                                    <label class="col-md-3 text-right" jhiTranslate="psClubManagerApp.club.console" for="field_console">Console</label>
                                    <div class="col-md-6">
                                        <select class="form-control" id="field_console" multiple name="console">
                                            <option *ngFor="let consoleOption of club.consoles; trackBy: trackConsoleDictionaryById">{{consoleOption.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3"></label>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-sm btn-info" (click)="addConsole()">Добавить приставку</button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 text-right" jhiTranslate="psClubManagerApp.club.game" for="field_game">Game</label>
                                    <div class="col-md-6">
                                        <select class="form-control" id="field_game" multiple name="game">
                                            <option *ngFor="let gameOption of club.games; trackBy: trackGameDictionaryById">{{gameOption.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3"></label>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-sm btn-info" (click)="addGame()">Добавить игру</button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 text-right" jhiTranslate="psClubManagerApp.clubJoystick.detail.title">Joystick</label>
                                    <div class="col-md-9">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>
                                                        <span jhiTranslate="psClubManagerApp.clubJoystick.title">Джойстик</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="psClubManagerApp.clubJoystick.amount">Кол-во</span>
                                                    </th>
                                                    <!--<th>
                                                        <span jhiTranslate="psClubManagerApp.clubJoystick.priceForExtraOnePerHour">priceForExtraOnePerHour</span>
                                                    </th>-->
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <ng-template #joystickTemplate let-r="result" let-t="term">
                                                            {{ r.name}}
                                                        </ng-template>
                                                        <input
                                                            id="typeahead-focus"
                                                            type="text"
                                                            class="form-control"
                                                            name="joystick"
                                                            [(ngModel)]="modelJoystick"
                                                            [ngbTypeahead]="searchJoystick"
                                                            (focus)="focus$.next($event.target.value)"
                                                            (click)="click$.next($event.target.value)"
                                                            (selectItem)="selectJoystick($event)"
                                                            [resultTemplate]="joystickTemplate"
                                                            [inputFormatter]="formatterJoystick"
                                                            placeholder="Выберите джойстик..."
                                                            #instance="ngbTypeahead"
                                                        />
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control" name="joyAmount" [(ngModel)]="newJoystick.amount"/>
                                                    </td>
                                                    <!--<td>
                                                        <input type="number" class="form-control" name="extraPrice" [(ngModel)]="newJoystick.priceForExtraOnePerHour.price"/>
                                                    </td>-->
                                                    <td>
                                                        <button type="button"
                                                                class="btn btn-sm btn-outline-primary"
                                                                (click)="addJoystick(newJoystick)"
                                                                [disabled]="editForm.form.invalid || isSaving || !newJoystick.joystickDictionary"
                                                                *ngIf="newJoystick.id === undefined"
                                                        >
                                                            <i class="fa fa-plus"></i> Добавить
                                                        </button>
                                                        <div class="btn-group" *ngIf="newJoystick.id !== undefined">
                                                            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="resetNewJoystick()">Отмена</button>
                                                            <button
                                                                type="button"
                                                                class="btn btn-sm btn-outline-primary"
                                                                (click)="addJoystick(newJoystick)"
                                                                [disabled]="editForm.form.invalid || isSaving"
                                                            >
                                                                Сохранить
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr *ngFor="let joystick of joysticks">
                                                    <td>
                                                        {{joystick.joystickDictionary.name}}
                                                    </td>
                                                    <td>
                                                        {{joystick.amount}}
                                                    </td>
                                                    <!--<td>
                                                        {{joystick.priceForExtraOnePerHour.price}} {{joystick.priceForExtraOnePerHour.currency}}
                                                    </td>-->
                                                    <td>
                                                        <div class="btn-group">
                                                            <button class="btn btn-sm btn-danger"
                                                                    type="button"
                                                                    [routerLink]="['/', { outlets: { popup: 'club-joystick/'+ joystick.id + '/delete'} }]"
                                                                    replaceUrl="true"
                                                                    queryParamsHandling="merge"
                                                            ><i class="fa fa-trash"></i></button>
                                                            <button class="btn btn-sm btn-warning" type="button" (click)="editJoystick(joystick)"><i class="fa fa-pencil"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="modal-footer">
                                <button type="button" (click)="saveEquipments()" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                                    <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>-->
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span>Зоны</span>&nbsp;
                            <i class="fa fa-asterisk" *ngIf="!club.flagZoneSaved; else zoneSaved"></i>
                            <ng-template #zoneSaved><i class="fa fa-check"></i></ng-template>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="modal-body">
                                <jhi-alert></jhi-alert>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>
                                                        <span jhiTranslate="psClubManagerApp.zone.type">Type</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="psClubManagerApp.zone.name">Name</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="psClubManagerApp.zone.seatsAmount">seatsAmount</span>
                                                    </th>
                                                    <th></th>
                                                    <!--<th>
                                                        <span jhiTranslate="psClubManagerApp.zone.pricePerHour">pricePerHour</span>
                                                    </th>-->
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td colspan="4" style="padding: 15px 0; text-align: center;">
                                                        <!--<a [routerLink]="['/', { outlets: { popup: ['zone-new'] } }]" class="btn btn-outline-info"><i class="fa fa-plus"></i>Добавить</a>-->
                                                        <button type="button" class="btn btn-info" (click)="addZone()"><i class="fa fa-plus"></i> Добавить</button>
                                                    </td>
                                                </tr>
                                                <tr *ngFor="let zone of zones">
                                                    <td><span *ngIf="zone.type">{{zone.type.name}}</span></td>
                                                    <td>{{zone.name}}</td>
                                                    <td>{{zone.seatsAmount}}</td>
                                                    <td>
                                                        <div class="btn btn-group">
                                                            <button type="button" class="btn btn-sm btn-danger"
                                                                    [routerLink]="['/', { outlets: { popup: 'zone/'+ zone.id + '/delete'} }]">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                            <button type="button" class="btn btn-sm btn-warning" (click)="editZone(zone)"><i class="fa fa-pencil"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span>Тарифы</span>
                            <i class="fa fa-check" *ngIf="club.flagPricePackageSaved"></i>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="modal-body">
                                <jhi-alert></jhi-alert>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>№</th>
                                                    <th>Наименование</th>
                                                    <th>Цена</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td colspan="5" style="padding: 15px 0; text-align: center;">
                                                        <button type="button" class="btn btn-info" (click)="addPricePackage()"><i class="fa fa-plus"></i> Добавить</button>
                                                    </td>
                                                </tr>
                                                <tr *ngFor="let package of pricePackages; let i = index">
                                                    <td>{{i+1}}</td>
                                                    <td>{{package.name}}</td>
                                                    <td>{{package.price | number}} KZT</td>
                                                    <td><button type="button" class="btn btn-sm btn-danger"
                                                                [routerLink]="['/', { outlets: { popup: 'price-package/'+ package.id + '/delete'} }]"
                                                    ><i class="fa fa-trash"></i></button></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span>Скидки</span>
                            <i class="fa fa-check" *ngIf="club.flagClientLevelSaved"></i>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="modal-body">
                                <jhi-alert></jhi-alert>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>
                                                        <span jhiTranslate="psClubManagerApp.clientLevel.name">Name</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="psClubManagerApp.clientLevel.description">description</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="psClubManagerApp.clientLevel.gamesAmount">gamesAmount</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="psClubManagerApp.clientLevel.discountPercent">discountPercent</span>
                                                    </th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td colspan="5" style="padding: 15px 0; text-align: center;">
                                                        <button type="button" class="btn btn-info" (click)="addClientLevel()"><i class="fa fa-plus"></i> Добавить</button>
                                                    </td>
                                                </tr>
                                                <tr *ngFor="let clientLevel of clientLevels">
                                                    <td>
                                                        {{clientLevel.name}}
                                                    </td>
                                                    <td>
                                                        {{clientLevel.description}}
                                                    </td>
                                                    <td>
                                                        {{clientLevel.gamesAmount}}
                                                    </td>
                                                    <td>
                                                        {{clientLevel.discountPercent}}
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger"
                                                                [routerLink]="['/', { outlets: { popup: 'client-level/'+ clientLevel.id + '/delete'} }]"
                                                        ><i class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <span jhiTranslate="entity.action.cancel"> Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving || !fullFilled" class="btn btn-primary" *ngIf="!club.flagPublished">
            <span class="fa fa-send"></span>&nbsp;<span>Опубликовать</span>
        </button>
    </div>
</form>
