<div>
    <h2>
        <span jhiTranslate="psClubManagerApp.gamePleasure.home.title">Game Pleasures</span>
        <button class="btn btn-primary float-right jh-create-entity create-game-pleasure" [routerLink]="['/', { outlets: { popup: ['game-pleasure-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="psClubManagerApp.gamePleasure.home.createLabel">
            Create new Game Pleasure
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psClubManagerApp.gamePleasure.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="gamePleasures">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rating"><span jhiTranslate="psClubManagerApp.gamePleasure.rating">Rating</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="review"><span jhiTranslate="psClubManagerApp.gamePleasure.review">Review</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="session.id"><span jhiTranslate="psClubManagerApp.gamePleasure.session">Session</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="club.id"><span jhiTranslate="psClubManagerApp.gamePleasure.club">Club</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="client.id"><span jhiTranslate="psClubManagerApp.gamePleasure.client">Client</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gamePleasure of gamePleasures ;trackBy: trackId">
                <td><a [routerLink]="['../game-pleasure', gamePleasure.id ]">{{gamePleasure.id}}</a></td>
                <td>{{gamePleasure.rating}}</td>
                <td>{{gamePleasure.review}}</td>
                <td>
                    <div *ngIf="gamePleasure.session">
                        <a [routerLink]="['../session', gamePleasure.session?.id ]" >{{gamePleasure.session?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="gamePleasure.club">
                        <a [routerLink]="['../club', gamePleasure.club?.id ]" >{{gamePleasure.club?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="gamePleasure.client">
                        <a [routerLink]="['../client', gamePleasure.client?.id ]" >{{gamePleasure.client?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../game-pleasure', gamePleasure.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game-pleasure/'+ gamePleasure.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game-pleasure/'+ gamePleasure.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="gamePleasures && gamePleasures.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
