
<div *ngIf="gamePleasure">
    <h2><span jhiTranslate="psClubManagerApp.gamePleasure.detail.title">Game Pleasure</span> {{gamePleasure.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.gamePleasure.rating">Rating</span></dt>
        <dd>
            <span>{{gamePleasure.rating}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.gamePleasure.review">Review</span></dt>
        <dd>
            <span>{{gamePleasure.review}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.gamePleasure.session">Session</span></dt>
        <dd>
            <div *ngIf="gamePleasure.session">
                <a [routerLink]="['/session', gamePleasure.session?.id]">{{gamePleasure.session?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.gamePleasure.club">Club</span></dt>
        <dd>
            <div *ngIf="gamePleasure.club">
                <a [routerLink]="['/club', gamePleasure.club?.id]">{{gamePleasure.club?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.gamePleasure.client">Client</span></dt>
        <dd>
            <div *ngIf="gamePleasure.client">
                <a [routerLink]="['/client', gamePleasure.client?.id]">{{gamePleasure.client?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'game-pleasure/'+ gamePleasure.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
