<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGamePleasureLabel" jhiTranslate="psClubManagerApp.gamePleasure.home.createOrEditLabel">Create or edit a Game Pleasure</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!gamePleasure.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="gamePleasure.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.gamePleasure.rating" for="field_rating">Rating</label>
            <input type="number" class="form-control" name="rating" id="field_rating"
                [(ngModel)]="gamePleasure.rating" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.gamePleasure.review" for="field_review">Review</label>
            <input type="text" class="form-control" name="review" id="field_review"
                [(ngModel)]="gamePleasure.review" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.gamePleasure.session" for="field_session">Session</label>
            <select class="form-control" id="field_session" name="session" [(ngModel)]="gamePleasure.session" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sessionOption.id === gamePleasure.session?.id ? gamePleasure.session : sessionOption" *ngFor="let sessionOption of sessions; trackBy: trackSessionById">{{sessionOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.gamePleasure.club" for="field_club">Club</label>
            <select class="form-control" id="field_club" name="club" [(ngModel)]="gamePleasure.club" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clubOption.id === gamePleasure.club?.id ? gamePleasure.club : clubOption" *ngFor="let clubOption of clubs; trackBy: trackClubById">{{clubOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.gamePleasure.client" for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" [(ngModel)]="gamePleasure.client" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id === gamePleasure.client?.id ? gamePleasure.client : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
