
<div *ngIf="pricePackage">
    <h2><span jhiTranslate="psClubManagerApp.pricePackage.detail.title">Price Package</span> {{pricePackage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.pricePackage.name">Name</span></dt>
        <dd>
            <span>{{pricePackage.name}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.pricePackage.description">Description</span></dt>
        <dd>
            <span>{{pricePackage.description}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.pricePackage.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{pricePackage.flagDeleted}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.pricePackage.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'psClubManagerApp.DurationType.' + pricePackage.type}}">{{pricePackage.type}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.pricePackage.startAt">Start At</span></dt>
        <dd>
            <span>{{pricePackage.startAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.pricePackage.finishAt">Finish At</span></dt>
        <dd>
            <span>{{pricePackage.finishAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.pricePackage.hoursAmount">Hours Amount</span></dt>
        <dd>
            <span>{{pricePackage.hoursAmount}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.pricePackage.price">Price</span></dt>
        <dd>
            <span>{{pricePackage.price}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'price-package/'+ pricePackage.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
