<div>
    <h2>
        <span jhiTranslate="psClubManagerApp.pricePackage.home.title">Price Packages</span>
        <button class="btn btn-primary float-right jh-create-entity create-price-package" [routerLink]="['/', { outlets: { popup: ['price-package-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="psClubManagerApp.pricePackage.home.createLabel">
            Create new Price Package
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psClubManagerApp.pricePackage.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pricePackages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="psClubManagerApp.pricePackage.name">Name</span></th>
            <th><span jhiTranslate="psClubManagerApp.pricePackage.description">Description</span></th>
            <th><span jhiTranslate="psClubManagerApp.pricePackage.flagDeleted">Flag Deleted</span></th>
            <th><span jhiTranslate="psClubManagerApp.pricePackage.type">Type</span></th>
            <th><span jhiTranslate="psClubManagerApp.pricePackage.startAt">Start At</span></th>
            <th><span jhiTranslate="psClubManagerApp.pricePackage.finishAt">Finish At</span></th>
            <th><span jhiTranslate="psClubManagerApp.pricePackage.hoursAmount">Hours Amount</span></th>
            <th><span jhiTranslate="psClubManagerApp.pricePackage.price">Price</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pricePackage of pricePackages ;trackBy: trackId">
                <td><a [routerLink]="['../price-package', pricePackage.id ]">{{pricePackage.id}}</a></td>
                <td>{{pricePackage.name}}</td>
                <td>{{pricePackage.description}}</td>
                <td>{{pricePackage.flagDeleted}}</td>
                <td jhiTranslate="{{'psClubManagerApp.DurationType.' + pricePackage.type}}">{{pricePackage.type}}</td>
                <td>{{pricePackage.startAt | date:'medium'}}</td>
                <td>{{pricePackage.finishAt | date:'medium'}}</td>
                <td>{{pricePackage.hoursAmount}}</td>
                <td>{{pricePackage.price}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../price-package', pricePackage.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'price-package/'+ pricePackage.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'price-package/'+ pricePackage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
