<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPricePackageLabel" jhiTranslate="psClubManagerApp.pricePackage.home.createOrEditLabel">Create or edit a Price Package</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group row">
            <label class="form-control-label col-md-3 text-right" jhiTranslate="psClubManagerApp.pricePackage.name" for="field_name">Name</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="name" id="field_name"
                       [(ngModel)]="pricePackage.name" required/>
                <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-3 text-right" jhiTranslate="psClubManagerApp.pricePackage.description" for="field_description">Description</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="description" id="field_description"
                       [(ngModel)]="pricePackage.description" />
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-3 text-right" jhiTranslate="psClubManagerApp.pricePackage.type" for="field_type">Type</label>
            <div class="col-md-8">
                <select class="form-control" name="type" [(ngModel)]="pricePackage.type" id="field_type"  required>
                    <option value="AN_HOUR">{{'psClubManagerApp.DurationType.AN_HOUR' | translate}}</option>
                    <option value="MINUTES">{{'psClubManagerApp.DurationType.MINUTES' | translate}}</option>
                    <option value="STARTEND">{{'psClubManagerApp.DurationType.STARTEND' | translate}}</option>
                    <option value="SERVICE">{{'psClubManagerApp.DurationType.SERVICE' | translate}}</option>
                </select>
                <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>
        <div *ngIf="pricePackage.type === 'AN_HOUR'">
            <div class="form-group row">
                <label class="form-control-label col-md-3 text-right" for="min_duration">
                    Минимальное время (HH:MM)
                </label>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="minDuration" id="min_duration"
                            [(ngModel)]="minimumJoyDurationInMinutes"
                           [textMask]="{mask: minDurationMask}"
                           pattern="(^\d{2}:\d{2})"
                           placeholder="__:__"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="form-control-label col-md-3 text-right" for="min_duration_price">
                    Цена за минимальное время
                </label>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="minDurationPrice" id="min_duration_price"
                           [(ngModel)]="pricePackage.minDurationPrice" />
                </div>
            </div>
        </div>
        <div class="row" *ngIf="pricePackage.type === 'STARTEND'">
            <div class="col-md-6">
                <div class="form-group text-right">
                    <label class="form-control-label" style="display: block; clear: both" jhiTranslate="psClubManagerApp.pricePackage.startAt" for="field_startAt">Start At</label>
                    <div class="d-flex float-right">
                        <ngb-timepicker id="field_startAt" [(ngModel)]="startAt" [ngModelOptions]="{standalone: true}" ></ngb-timepicker>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psClubManagerApp.pricePackage.finishAt" for="field_finishAt">Finish At</label>
                    <div class="d-flex">
                        <ngb-timepicker id="field_finishAt" [(ngModel)]="finishAt" [ngModelOptions]="{standalone: true}" ></ngb-timepicker>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row" *ngIf="pricePackage.type === 'MINUTES'">
            <label class="form-control-label col-md-3 text-right" for="joyDuration">
                Продолжительность (HH:MM)
            </label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="joyDuration" id="joyDuration"
                       [(ngModel)]="joyDuration"
                       [textMask]="{mask: joyDurationMask}"
                       pattern="(^\d{2}:\d{2})"
                       placeholder="__:__"/>
            </div>
        </div>
        <div class="form-group row" *ngIf="pricePackage.type === 'SERVICE'">
            <label class="form-control-label col-md-3 text-right" for="joyDurationService">
                Продолжительность услуги
            </label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="joyDurationService" id="joyDurationService"
                       [(ngModel)]="joyDuration"
                       [textMask]="{mask: joyDurationMask}"
                       pattern="(^\d{2}:\d{2})"
                       placeholder="__:__"/>
            </div>
        </div>
        <!--<div class="row" *ngIf="pricePackage.type === 'MINUTES'">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label text-right" style="display: block; clear: both;" for="joyDuration">Продолжительность</label>
                    <div class="d-flex float-right">
                        <ngb-timepicker id="joyDuration" [(ngModel)]="joyDuration" [ngModelOptions]="{standalone: true}" ></ngb-timepicker>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="form-group row">
            <label class="form-control-label col-md-3 text-right" jhiTranslate="psClubManagerApp.pricePackage.price" for="field_price">Price</label>
            <div class="col-md-8">
                <input type="number" class="form-control" name="price" id="field_price"
                       [(ngModel)]="pricePackage.price" required/>
                <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.price?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.price?.errors?.number" jhiTranslate="entity.validation.number">
                        This field should be a number.
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
