
<div *ngIf="consoleDictionary">
    <h2><span jhiTranslate="psClubManagerApp.consoleDictionary.detail.title">Console Dictionary</span> {{consoleDictionary.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.consoleDictionary.name">Name</span></dt>
        <dd>
            <span>{{consoleDictionary.name}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.consoleDictionary.description">Description</span></dt>
        <dd>
            <span>{{consoleDictionary.description}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.consoleDictionary.code">Code</span></dt>
        <dd>
            <span>{{consoleDictionary.code}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.consoleDictionary.avatar">Avatar</span></dt>
        <dd>
            <div *ngIf="consoleDictionary.avatar">
                <a [routerLink]="['/attachment-file', consoleDictionary.avatar?.id]">{{consoleDictionary.avatar?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'console-dictionary/'+ consoleDictionary.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
