
<div *ngIf="dayRegime">
    <h2><span jhiTranslate="psClubManagerApp.dayRegime.detail.title">Day Regime</span> {{dayRegime.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.dayRegime.daySeq">Day Seq</span></dt>
        <dd>
            <span>{{dayRegime.daySeq}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.dayRegime.openedAt">Opened At</span></dt>
        <dd>
            <span>{{dayRegime.openedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.dayRegime.closedAt">Closed At</span></dt>
        <dd>
            <span>{{dayRegime.closedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.dayRegime.flagAllDayLong">Flag All Day Long</span></dt>
        <dd>
            <span>{{dayRegime.flagAllDayLong}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.dayRegime.flagTillLastClient">Flag Till Last Client</span></dt>
        <dd>
            <span>{{dayRegime.flagTillLastClient}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.dayRegime.club">Club</span></dt>
        <dd>
            <div *ngIf="dayRegime.club">
                <a [routerLink]="['/club', dayRegime.club?.id]">{{dayRegime.club?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'day-regime/'+ dayRegime.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
