<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDayRegimeLabel" jhiTranslate="psClubManagerApp.dayRegime.home.createOrEditLabel">Create or edit a Day Regime</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dayRegime.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dayRegime.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.dayRegime.daySeq" for="field_daySeq">Day Seq</label>
            <input type="number" class="form-control" name="daySeq" id="field_daySeq"
                [(ngModel)]="dayRegime.daySeq" required/>
            <div [hidden]="!(editForm.controls.daySeq?.dirty && editForm.controls.daySeq?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.daySeq?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.daySeq?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.dayRegime.openedAt" for="field_openedAt">Opened At</label>
            <div class="d-flex">
                <input id="field_openedAt" type="datetime-local" class="form-control" name="openedAt" [(ngModel)]="dayRegime.openedAt"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.dayRegime.closedAt" for="field_closedAt">Closed At</label>
            <div class="d-flex">
                <input id="field_closedAt" type="datetime-local" class="form-control" name="closedAt" [(ngModel)]="dayRegime.closedAt"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.dayRegime.flagAllDayLong" for="field_flagAllDayLong">Flag All Day Long</label>
            <input type="checkbox" class="form-control" name="flagAllDayLong" id="field_flagAllDayLong"
                [(ngModel)]="dayRegime.flagAllDayLong" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.dayRegime.flagTillLastClient" for="field_flagTillLastClient">Flag Till Last Client</label>
            <input type="checkbox" class="form-control" name="flagTillLastClient" id="field_flagTillLastClient"
                [(ngModel)]="dayRegime.flagTillLastClient" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.dayRegime.club" for="field_club">Club</label>
            <select class="form-control" id="field_club" name="club" [(ngModel)]="dayRegime.club" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clubOption.id === dayRegime.club?.id ? dayRegime.club : clubOption" *ngFor="let clubOption of clubs; trackBy: trackClubById">{{clubOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
