<div>
    <h2>
        <span jhiTranslate="psClubManagerApp.dayRegime.home.title">Day Regimes</span>
        <button class="btn btn-primary float-right jh-create-entity create-day-regime" [routerLink]="['/', { outlets: { popup: ['day-regime-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="psClubManagerApp.dayRegime.home.createLabel">
            Create new Day Regime
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psClubManagerApp.dayRegime.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dayRegimes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="psClubManagerApp.dayRegime.daySeq">Day Seq</span></th>
            <th><span jhiTranslate="psClubManagerApp.dayRegime.openedAt">Opened At</span></th>
            <th><span jhiTranslate="psClubManagerApp.dayRegime.closedAt">Closed At</span></th>
            <th><span jhiTranslate="psClubManagerApp.dayRegime.flagAllDayLong">Flag All Day Long</span></th>
            <th><span jhiTranslate="psClubManagerApp.dayRegime.flagTillLastClient">Flag Till Last Client</span></th>
            <th><span jhiTranslate="psClubManagerApp.dayRegime.club">Club</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dayRegime of dayRegimes ;trackBy: trackId">
                <td><a [routerLink]="['../day-regime', dayRegime.id ]">{{dayRegime.id}}</a></td>
                <td>{{dayRegime.daySeq}}</td>
                <td>{{dayRegime.openedAt | date:'medium'}}</td>
                <td>{{dayRegime.closedAt | date:'medium'}}</td>
                <td>{{dayRegime.flagAllDayLong}}</td>
                <td>{{dayRegime.flagTillLastClient}}</td>
                <td>
                    <div *ngIf="dayRegime.club">
                        <a [routerLink]="['../club', dayRegime.club?.id ]" >{{dayRegime.club?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../day-regime', dayRegime.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'day-regime/'+ dayRegime.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'day-regime/'+ dayRegime.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
