<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJoystickDictionaryLabel" jhiTranslate="psClubManagerApp.joystickDictionary.home.createOrEditLabel">Create or edit a Joystick Dictionary</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!joystickDictionary.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="joystickDictionary.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.joystickDictionary.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="joystickDictionary.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.joystickDictionary.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="joystickDictionary.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.joystickDictionary.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="joystickDictionary.code" required/>
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.joystickDictionary.avatar" for="field_avatar">Avatar</label>
            <select class="form-control" id="field_avatar" name="avatar" [(ngModel)]="joystickDictionary.avatar" >
                <option [ngValue]="null"></option>
                <option [ngValue]="attachmentFileOption.id === joystickDictionary.avatar?.id ? joystickDictionary.avatar : attachmentFileOption" *ngFor="let attachmentFileOption of attachmentfiles; trackBy: trackAttachmentFileById">{{attachmentFileOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
