
<div *ngIf="joystickDictionary">
    <h2><span jhiTranslate="psClubManagerApp.joystickDictionary.detail.title">Joystick Dictionary</span> {{joystickDictionary.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.joystickDictionary.name">Name</span></dt>
        <dd>
            <span>{{joystickDictionary.name}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.joystickDictionary.description">Description</span></dt>
        <dd>
            <span>{{joystickDictionary.description}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.joystickDictionary.code">Code</span></dt>
        <dd>
            <span>{{joystickDictionary.code}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.joystickDictionary.avatar">Avatar</span></dt>
        <dd>
            <div *ngIf="joystickDictionary.avatar">
                <a [routerLink]="['/attachment-file', joystickDictionary.avatar?.id]">{{joystickDictionary.avatar?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'joystick-dictionary/'+ joystickDictionary.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
