<div>
    <h2>
        <span jhiTranslate="psClubManagerApp.joystickDictionary.home.title">Joystick Dictionaries</span>
        <button class="btn btn-primary float-right jh-create-entity create-joystick-dictionary" [routerLink]="['/', { outlets: { popup: ['joystick-dictionary-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="psClubManagerApp.joystickDictionary.home.createLabel">
            Create new Joystick Dictionary
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psClubManagerApp.joystickDictionary.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="joystickDictionaries">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="psClubManagerApp.joystickDictionary.name">Name</span></th>
            <th><span jhiTranslate="psClubManagerApp.joystickDictionary.description">Description</span></th>
            <th><span jhiTranslate="psClubManagerApp.joystickDictionary.code">Code</span></th>
            <th><span jhiTranslate="psClubManagerApp.joystickDictionary.avatar">Avatar</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let joystickDictionary of joystickDictionaries ;trackBy: trackId">
                <td><a [routerLink]="['../joystick-dictionary', joystickDictionary.id ]">{{joystickDictionary.id}}</a></td>
                <td>{{joystickDictionary.name}}</td>
                <td>{{joystickDictionary.description}}</td>
                <td>{{joystickDictionary.code}}</td>
                <td>
                    <div *ngIf="joystickDictionary.avatar">
                        <a [routerLink]="['../attachment-file', joystickDictionary.avatar?.id ]" >{{joystickDictionary.avatar?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../joystick-dictionary', joystickDictionary.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'joystick-dictionary/'+ joystickDictionary.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'joystick-dictionary/'+ joystickDictionary.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
