
<div *ngIf="clientLevel">
    <h2><span jhiTranslate="psClubManagerApp.clientLevel.detail.title">Client Level</span> {{clientLevel.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.clientLevel.name">Name</span></dt>
        <dd>
            <span>{{clientLevel.name}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.clientLevel.description">Description</span></dt>
        <dd>
            <span>{{clientLevel.description}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.clientLevel.gamesAmount">Games Amount</span></dt>
        <dd>
            <span>{{clientLevel.gamesAmount}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.clientLevel.discountPercent">Discount Percent</span></dt>
        <dd>
            <span>{{clientLevel.discountPercent}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.clientLevel.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{clientLevel.flagDeleted}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-level/'+ clientLevel.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
