<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientLevelLabel" jhiTranslate="psClubManagerApp.clientLevel.home.createOrEditLabel">Create or edit a Client Level</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group row">
            <label class="form-control-label col-md-3 text-right" jhiTranslate="psClubManagerApp.clientLevel.name" for="field_name">Name</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="name" id="field_name"
                       [(ngModel)]="clientLevel.name" required/>
                <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-3 text-right" jhiTranslate="psClubManagerApp.clientLevel.description" for="field_description">Description</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="description" id="field_description"
                       [(ngModel)]="clientLevel.description" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psClubManagerApp.clientLevel.gamesAmount" for="field_gamesAmount">Games Amount</label>
                    <input type="number" class="form-control" name="gamesAmount" id="field_gamesAmount"
                           [(ngModel)]="clientLevel.gamesAmount" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psClubManagerApp.clientLevel.discountPercent" for="field_discountPercent">Discount Percent</label>
                    <input type="number" class="form-control" name="discountPercent" id="field_discountPercent"
                           [(ngModel)]="clientLevel.discountPercent" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
