<div>
    <h2>
        <span jhiTranslate="psClubManagerApp.clientLevel.home.title">Client Levels</span>
        <button class="btn btn-primary float-right jh-create-entity create-client-level" [routerLink]="['/', { outlets: { popup: ['client-level-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="psClubManagerApp.clientLevel.home.createLabel">
            Create new Client Level
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psClubManagerApp.clientLevel.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clientLevels">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="psClubManagerApp.clientLevel.name">Name</span></th>
            <th><span jhiTranslate="psClubManagerApp.clientLevel.description">Description</span></th>
            <th><span jhiTranslate="psClubManagerApp.clientLevel.gamesAmount">Games Amount</span></th>
            <th><span jhiTranslate="psClubManagerApp.clientLevel.discountPercent">Discount Percent</span></th>
            <th><span jhiTranslate="psClubManagerApp.clientLevel.flagDeleted">Flag Deleted</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clientLevel of clientLevels ;trackBy: trackId">
                <td><a [routerLink]="['../client-level', clientLevel.id ]">{{clientLevel.id}}</a></td>
                <td>{{clientLevel.name}}</td>
                <td>{{clientLevel.description}}</td>
                <td>{{clientLevel.gamesAmount}}</td>
                <td>{{clientLevel.discountPercent}}</td>
                <td>{{clientLevel.flagDeleted}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../client-level', clientLevel.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-level/'+ clientLevel.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-level/'+ clientLevel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
