<div class="modal-header">
    <h4 class="modal-title">Добавить игру</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-md-12">
            <form class="form" role="form" (ngSubmit)="submit()">
                <div class="form-group">
                    <label class="form-control-label">
                        Введите текст чтобы начать поиск
                    </label>
                    <div>
                        <ng-select [items]="consolesDictionary"
                                   bindLabel="name"
                                   bindValue="id"
                                   placeholder="Выберите игру"
                                   [multiple]="true"
                                   [closeOnSelect]="true"
                                   [(ngModel)]="collectedConsoles"
                                   [ngModelOptions]="{standalone: true}">
                        </ng-select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!collectedConsoles.length || isSaving">Добавить</button>
                <p></p>
                <div *ngIf="clubConsoles.length">
                    <div class="form-group">
                        <label class="form-control-label" for="field_console">Имеющийся игры</label>
                        <div>
                            <select class="form-control" id="field_console" multiple name="console" [(ngModel)]="selectedToRejectConsoles">
                                <option [ngValue]="clubConsole.id" *ngFor="let clubConsole of clubConsoles; trackBy: trackConsoleDictionaryById">{{clubConsole.name}}</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning" (click)="removeConsole()" [disabled]="!selectedToRejectConsoles.length">Убрать выбранные игры</button>
                </div>
            </form>
        </div>
    </div>
</div>
