<div>
    <h2>
        <span>Расписание</span>
        <!--<button class="btn btn-primary float-right jh-create-entity create-price-package" [routerLink]="['/', { outlets: { popup: ['price-package-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="psClubManagerApp.pricePackage.home.createLabel">
            Create new Price Package
            </span>
        </button>-->
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <!--<div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psClubManagerApp.pricePackage.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>-->
    </div>
    <br/>
    <div *ngIf="club">
        <timesheet-component [club]="club"></timesheet-component>
    </div>
</div>
