
<div *ngIf="client">
    <h2><span jhiTranslate="psClubManagerApp.client.detail.title">Client</span> {{client.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.client.name">Name</span></dt>
        <dd>
            <span>{{client.name}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.client.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{client.phoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.client.level">Level</span></dt>
        <dd>
            <div *ngIf="client.level">
                <a [routerLink]="['/client-level', client.level?.id]">{{client.level?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.client.club">Club</span></dt>
        <dd>
            <div *ngIf="client.club">
                <a [routerLink]="['/club', client.club?.id]">{{client.club?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
