
<div *ngIf="attachmentFile">
    <h2><span jhiTranslate="psClubManagerApp.attachmentFile.detail.title">Attachment File</span> {{attachmentFile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.attachmentFile.attachment">Attachment</span></dt>
        <dd>
            <div *ngIf="attachmentFile.attachment">
                <a (click)="openFile(attachmentFile.attachmentContentType, attachmentFile.attachment)">
                    <img [src]="'data:' + attachmentFile.attachmentContentType + ';base64,' + attachmentFile.attachment" style="max-width: 100%;" alt="attachmentFile image"/>
                </a>
                {{attachmentFile.attachmentContentType}}, {{byteSize(attachmentFile.attachment)}}
            </div>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.attachmentFile.containerClass">Container Class</span></dt>
        <dd>
            <span>{{attachmentFile.containerClass}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.attachmentFile.containerId">Container Id</span></dt>
        <dd>
            <span>{{attachmentFile.containerId}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.attachmentFile.uid">Uid</span></dt>
        <dd>
            <span>{{attachmentFile.uid}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.attachmentFile.name">Name</span></dt>
        <dd>
            <span>{{attachmentFile.name}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.attachmentFile.contentType">Content Type</span></dt>
        <dd>
            <span>{{attachmentFile.contentType}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.attachmentFile.fileSize">File Size</span></dt>
        <dd>
            <span>{{attachmentFile.fileSize}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.attachmentFile.fileHash">File Hash</span></dt>
        <dd>
            <span>{{attachmentFile.fileHash}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'attachment-file/'+ attachmentFile.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
