<div>
    <h2>
        <span jhiTranslate="psClubManagerApp.attachmentFile.home.title">Attachment Files</span>
        <button class="btn btn-primary float-right jh-create-entity create-attachment-file" [routerLink]="['/', { outlets: { popup: ['attachment-file-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="psClubManagerApp.attachmentFile.home.createLabel">
            Create new Attachment File
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psClubManagerApp.attachmentFile.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="attachmentFiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="psClubManagerApp.attachmentFile.attachment">Attachment</span></th>
            <th><span jhiTranslate="psClubManagerApp.attachmentFile.containerClass">Container Class</span></th>
            <th><span jhiTranslate="psClubManagerApp.attachmentFile.containerId">Container Id</span></th>
            <th><span jhiTranslate="psClubManagerApp.attachmentFile.uid">Uid</span></th>
            <th><span jhiTranslate="psClubManagerApp.attachmentFile.name">Name</span></th>
            <th><span jhiTranslate="psClubManagerApp.attachmentFile.contentType">Content Type</span></th>
            <th><span jhiTranslate="psClubManagerApp.attachmentFile.fileSize">File Size</span></th>
            <th><span jhiTranslate="psClubManagerApp.attachmentFile.fileHash">File Hash</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attachmentFile of attachmentFiles ;trackBy: trackId">
                <td><a [routerLink]="['../attachment-file', attachmentFile.id ]">{{attachmentFile.id}}</a></td>
                <td>
                    <a *ngIf="attachmentFile.attachment" (click)="openFile(attachmentFile.attachmentContentType, attachmentFile.attachment)">
                        <img [src]="'data:' + attachmentFile.attachmentContentType + ';base64,' + attachmentFile.attachment" style="max-height: 30px;" alt="attachmentFile image"/>
                    </a>
                    <span *ngIf="attachmentFile.attachment">{{attachmentFile.attachmentContentType}}, {{byteSize(attachmentFile.attachment)}}</span>
                </td>
                <td>{{attachmentFile.containerClass}}</td>
                <td>{{attachmentFile.containerId}}</td>
                <td>{{attachmentFile.uid}}</td>
                <td>{{attachmentFile.name}}</td>
                <td>{{attachmentFile.contentType}}</td>
                <td>{{attachmentFile.fileSize}}</td>
                <td>{{attachmentFile.fileHash}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../attachment-file', attachmentFile.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'attachment-file/'+ attachmentFile.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'attachment-file/'+ attachmentFile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
