<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAttachmentFileLabel" jhiTranslate="psClubManagerApp.attachmentFile.home.createOrEditLabel">Create or edit a Attachment File</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!attachmentFile.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="attachmentFile.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.attachmentFile.attachment" for="field_attachment">Attachment</label>
            <div>
                <img [src]="'data:' + attachmentFile.attachmentContentType + ';base64,' + attachmentFile.attachment" style="max-height: 100px;" *ngIf="attachmentFile.attachment" alt="attachmentFile image"/>
                <div *ngIf="attachmentFile.attachment" class="form-text text-danger clearfix">
                    <span class="pull-left">{{attachmentFile.attachmentContentType}}, {{byteSize(attachmentFile.attachment)}}</span>
                    <button type="button" (click)="clearInputImage('attachment', 'attachmentContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_attachment" (change)="setFileData($event, attachmentFile, 'attachment', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="attachment" id="field_attachment"
                [(ngModel)]="attachmentFile.attachment" />
            <input type="hidden" class="form-control" name="attachmentContentType" id="field_attachmentContentType"
                [(ngModel)]="attachmentFile.attachmentContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.attachmentFile.containerClass" for="field_containerClass">Container Class</label>
            <input type="text" class="form-control" name="containerClass" id="field_containerClass"
                [(ngModel)]="attachmentFile.containerClass" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.attachmentFile.containerId" for="field_containerId">Container Id</label>
            <input type="number" class="form-control" name="containerId" id="field_containerId"
                [(ngModel)]="attachmentFile.containerId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.attachmentFile.uid" for="field_uid">Uid</label>
            <input type="text" class="form-control" name="uid" id="field_uid"
                [(ngModel)]="attachmentFile.uid" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.attachmentFile.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="attachmentFile.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.attachmentFile.contentType" for="field_contentType">Content Type</label>
            <input type="text" class="form-control" name="contentType" id="field_contentType"
                [(ngModel)]="attachmentFile.contentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.attachmentFile.fileSize" for="field_fileSize">File Size</label>
            <input type="number" class="form-control" name="fileSize" id="field_fileSize"
                [(ngModel)]="attachmentFile.fileSize" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.attachmentFile.fileHash" for="field_fileHash">File Hash</label>
            <input type="text" class="form-control" name="fileHash" id="field_fileHash"
                [(ngModel)]="attachmentFile.fileHash" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
