
<div *ngIf="joySessionLife">
    <h2><span jhiTranslate="psClubManagerApp.joySessionLife.detail.title">Joy Session Life</span> {{joySessionLife.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.joySessionLife.startedAt">Started At</span></dt>
        <dd>
            <span>{{joySessionLife.startedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.joySessionLife.finishedAt">Finished At</span></dt>
        <dd>
            <span>{{joySessionLife.finishedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.joySessionLife.joyHours">Joy Hours</span></dt>
        <dd>
            <span>{{joySessionLife.joyHours}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.joySessionLife.joyMinutes">Joy Minutes</span></dt>
        <dd>
            <span>{{joySessionLife.joyMinutes}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.joySessionLife.totalPrice">Total Price</span></dt>
        <dd>
            <span>{{joySessionLife.totalPrice}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.joySessionLife.pricePackage">Price Package</span></dt>
        <dd>
            <div *ngIf="joySessionLife.pricePackage">
                <a [routerLink]="['/price-package', joySessionLife.pricePackage?.id]">{{joySessionLife.pricePackage?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'joy-session-life/'+ joySessionLife.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
