<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJoySessionLifeLabel" jhiTranslate="psClubManagerApp.joySessionLife.home.createOrEditLabel">Create or edit a Joy Session Life</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!joySessionLife.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="joySessionLife.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.joySessionLife.startedAt" for="field_startedAt">Started At</label>
            <div class="d-flex">
                <input id="field_startedAt" type="datetime-local" class="form-control" name="startedAt" [(ngModel)]="joySessionLife.startedAt"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.joySessionLife.finishedAt" for="field_finishedAt">Finished At</label>
            <div class="d-flex">
                <input id="field_finishedAt" type="datetime-local" class="form-control" name="finishedAt" [(ngModel)]="joySessionLife.finishedAt"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.joySessionLife.joyHours" for="field_joyHours">Joy Hours</label>
            <input type="number" class="form-control" name="joyHours" id="field_joyHours"
                [(ngModel)]="joySessionLife.joyHours" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.joySessionLife.joyMinutes" for="field_joyMinutes">Joy Minutes</label>
            <input type="number" class="form-control" name="joyMinutes" id="field_joyMinutes"
                [(ngModel)]="joySessionLife.joyMinutes" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.joySessionLife.totalPrice" for="field_totalPrice">Total Price</label>
            <input type="number" class="form-control" name="totalPrice" id="field_totalPrice"
                [(ngModel)]="joySessionLife.totalPrice" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.joySessionLife.pricePackage" for="field_pricePackage">Price Package</label>
            <select class="form-control" id="field_pricePackage" name="pricePackage" [(ngModel)]="joySessionLife.pricePackage" >
                <option [ngValue]="null"></option>
                <option [ngValue]="pricePackageOption.id === joySessionLife.pricePackage?.id ? joySessionLife.pricePackage : pricePackageOption" *ngFor="let pricePackageOption of pricepackages; trackBy: trackPricePackageById">{{pricePackageOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
