<div>
    <h2>
        <span jhiTranslate="psClubManagerApp.joySessionLife.home.title">Joy Session Lives</span>
        <button class="btn btn-primary float-right jh-create-entity create-joy-session-life" [routerLink]="['/', { outlets: { popup: ['joy-session-life-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="psClubManagerApp.joySessionLife.home.createLabel">
            Create new Joy Session Life
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psClubManagerApp.joySessionLife.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="joySessionLives">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startedAt"><span jhiTranslate="psClubManagerApp.joySessionLife.startedAt">Started At</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="finishedAt"><span jhiTranslate="psClubManagerApp.joySessionLife.finishedAt">Finished At</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="joyHours"><span jhiTranslate="psClubManagerApp.joySessionLife.joyHours">Joy Hours</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="joyMinutes"><span jhiTranslate="psClubManagerApp.joySessionLife.joyMinutes">Joy Minutes</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totalPrice"><span jhiTranslate="psClubManagerApp.joySessionLife.totalPrice">Total Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pricePackage.name"><span jhiTranslate="psClubManagerApp.joySessionLife.pricePackage">Price Package</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let joySessionLife of joySessionLives ;trackBy: trackId">
                <td><a [routerLink]="['../joy-session-life', joySessionLife.id ]">{{joySessionLife.id}}</a></td>
                <td>{{joySessionLife.startedAt | date:'medium'}}</td>
                <td>{{joySessionLife.finishedAt | date:'medium'}}</td>
                <td>{{joySessionLife.joyHours}}</td>
                <td>{{joySessionLife.joyMinutes}}</td>
                <td>{{joySessionLife.totalPrice}}</td>
                <td>
                    <div *ngIf="joySessionLife.pricePackage">
                        <a [routerLink]="['../price-package', joySessionLife.pricePackage?.id ]" >{{joySessionLife.pricePackage?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../joy-session-life', joySessionLife.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'joy-session-life/'+ joySessionLife.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'joy-session-life/'+ joySessionLife.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
