<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myExtraJoystickLabel" jhiTranslate="psClubManagerApp.extraJoystick.home.createOrEditLabel">Create or edit a Extra Joystick</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!extraJoystick.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="extraJoystick.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.extraJoystick.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="extraJoystick.amount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.extraJoystick.startedAt" for="field_startedAt">Started At</label>
            <div class="d-flex">
                <input id="field_startedAt" type="datetime-local" class="form-control" name="startedAt" [(ngModel)]="extraJoystick.startedAt"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.extraJoystick.finishedAt" for="field_finishedAt">Finished At</label>
            <div class="d-flex">
                <input id="field_finishedAt" type="datetime-local" class="form-control" name="finishedAt" [(ngModel)]="extraJoystick.finishedAt"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.extraJoystick.playedHours" for="field_playedHours">Played Hours</label>
            <input type="number" class="form-control" name="playedHours" id="field_playedHours"
                [(ngModel)]="extraJoystick.playedHours" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.extraJoystick.playedMinutes" for="field_playedMinutes">Played Minutes</label>
            <input type="number" class="form-control" name="playedMinutes" id="field_playedMinutes"
                [(ngModel)]="extraJoystick.playedMinutes" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.extraJoystick.totalPrice" for="field_totalPrice">Total Price</label>
            <input type="number" class="form-control" name="totalPrice" id="field_totalPrice"
                [(ngModel)]="extraJoystick.totalPrice" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.extraJoystick.session" for="field_session">Session</label>
            <select class="form-control" id="field_session" name="session" [(ngModel)]="extraJoystick.session" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sessionOption.id === extraJoystick.session?.id ? extraJoystick.session : sessionOption" *ngFor="let sessionOption of sessions; trackBy: trackSessionById">{{sessionOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.extraJoystick.clubJoystick" for="field_clubJoystick">Club Joystick</label>
            <select class="form-control" id="field_clubJoystick" name="clubJoystick" [(ngModel)]="extraJoystick.clubJoystick" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clubJoystickOption.id === extraJoystick.clubJoystick?.id ? extraJoystick.clubJoystick : clubJoystickOption" *ngFor="let clubJoystickOption of clubjoysticks; trackBy: trackClubJoystickById">{{clubJoystickOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.extraJoystick.pricePerHour" for="field_pricePerHour">Price Per Hour</label>
            <select class="form-control" id="field_pricePerHour" name="pricePerHour" [(ngModel)]="extraJoystick.pricePerHour" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tariffOption.id === extraJoystick.pricePerHour?.id ? extraJoystick.pricePerHour : tariffOption" *ngFor="let tariffOption of tariffs; trackBy: trackTariffById">{{tariffOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
