
<div *ngIf="extraJoystick">
    <h2><span jhiTranslate="psClubManagerApp.extraJoystick.detail.title">Extra Joystick</span> {{extraJoystick.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.extraJoystick.amount">Amount</span></dt>
        <dd>
            <span>{{extraJoystick.amount}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.extraJoystick.startedAt">Started At</span></dt>
        <dd>
            <span>{{extraJoystick.startedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.extraJoystick.finishedAt">Finished At</span></dt>
        <dd>
            <span>{{extraJoystick.finishedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.extraJoystick.playedHours">Played Hours</span></dt>
        <dd>
            <span>{{extraJoystick.playedHours}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.extraJoystick.playedMinutes">Played Minutes</span></dt>
        <dd>
            <span>{{extraJoystick.playedMinutes}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.extraJoystick.totalPrice">Total Price</span></dt>
        <dd>
            <span>{{extraJoystick.totalPrice}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.extraJoystick.session">Session</span></dt>
        <dd>
            <div *ngIf="extraJoystick.session">
                <a [routerLink]="['/session', extraJoystick.session?.id]">{{extraJoystick.session?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.extraJoystick.clubJoystick">Club Joystick</span></dt>
        <dd>
            <div *ngIf="extraJoystick.clubJoystick">
                <a [routerLink]="['/club-joystick', extraJoystick.clubJoystick?.id]">{{extraJoystick.clubJoystick?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.extraJoystick.pricePerHour">Price Per Hour</span></dt>
        <dd>
            <div *ngIf="extraJoystick.pricePerHour">
                <a [routerLink]="['/tariff', extraJoystick.pricePerHour?.id]">{{extraJoystick.pricePerHour?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'extra-joystick/'+ extraJoystick.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
