<div>
    <h2>
        <span jhiTranslate="psClubManagerApp.extraJoystick.home.title">Extra Joysticks</span>
        <button class="btn btn-primary float-right jh-create-entity create-extra-joystick" [routerLink]="['/', { outlets: { popup: ['extra-joystick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="psClubManagerApp.extraJoystick.home.createLabel">
            Create new Extra Joystick
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psClubManagerApp.extraJoystick.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="extraJoysticks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="psClubManagerApp.extraJoystick.amount">Amount</span></th>
            <th><span jhiTranslate="psClubManagerApp.extraJoystick.startedAt">Started At</span></th>
            <th><span jhiTranslate="psClubManagerApp.extraJoystick.finishedAt">Finished At</span></th>
            <th><span jhiTranslate="psClubManagerApp.extraJoystick.playedHours">Played Hours</span></th>
            <th><span jhiTranslate="psClubManagerApp.extraJoystick.playedMinutes">Played Minutes</span></th>
            <th><span jhiTranslate="psClubManagerApp.extraJoystick.totalPrice">Total Price</span></th>
            <th><span jhiTranslate="psClubManagerApp.extraJoystick.session">Session</span></th>
            <th><span jhiTranslate="psClubManagerApp.extraJoystick.clubJoystick">Club Joystick</span></th>
            <th><span jhiTranslate="psClubManagerApp.extraJoystick.pricePerHour">Price Per Hour</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let extraJoystick of extraJoysticks ;trackBy: trackId">
                <td><a [routerLink]="['../extra-joystick', extraJoystick.id ]">{{extraJoystick.id}}</a></td>
                <td>{{extraJoystick.amount}}</td>
                <td>{{extraJoystick.startedAt | date:'medium'}}</td>
                <td>{{extraJoystick.finishedAt | date:'medium'}}</td>
                <td>{{extraJoystick.playedHours}}</td>
                <td>{{extraJoystick.playedMinutes}}</td>
                <td>{{extraJoystick.totalPrice}}</td>
                <td>
                    <div *ngIf="extraJoystick.session">
                        <a [routerLink]="['../session', extraJoystick.session?.id ]" >{{extraJoystick.session?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extraJoystick.clubJoystick">
                        <a [routerLink]="['../club-joystick', extraJoystick.clubJoystick?.id ]" >{{extraJoystick.clubJoystick?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extraJoystick.pricePerHour">
                        <a [routerLink]="['../tariff', extraJoystick.pricePerHour?.id ]" >{{extraJoystick.pricePerHour?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../extra-joystick', extraJoystick.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'extra-joystick/'+ extraJoystick.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'extra-joystick/'+ extraJoystick.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
