
<div *ngIf="cityDictionary">
    <h2><span jhiTranslate="psClubManagerApp.cityDictionary.detail.title">City Dictionary</span> {{cityDictionary.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.cityDictionary.name">Name</span></dt>
        <dd>
            <span>{{cityDictionary.name}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.cityDictionary.code">Code</span></dt>
        <dd>
            <span>{{cityDictionary.code}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.cityDictionary.postalCode">Postal Code</span></dt>
        <dd>
            <span>{{cityDictionary.postalCode}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.cityDictionary.lat">Lat</span></dt>
        <dd>
            <span>{{cityDictionary.lat}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.cityDictionary.lon">Lon</span></dt>
        <dd>
            <span>{{cityDictionary.lon}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'city-dictionary/'+ cityDictionary.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
