
<div *ngIf="clubJoystick">
    <h2><span jhiTranslate="psClubManagerApp.clubJoystick.detail.title">Club Joystick</span> {{clubJoystick.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.clubJoystick.amount">Amount</span></dt>
        <dd>
            <span>{{clubJoystick.amount}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.clubJoystick.club">Club</span></dt>
        <dd>
            <div *ngIf="clubJoystick.club">
                <a [routerLink]="['/club', clubJoystick.club?.id]">{{clubJoystick.club?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.clubJoystick.joystickDictionary">Joystick Dictionary</span></dt>
        <dd>
            <div *ngIf="clubJoystick.joystickDictionary">
                <a [routerLink]="['/joystick-dictionary', clubJoystick.joystickDictionary?.id]">{{clubJoystick.joystickDictionary?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.clubJoystick.priceForExtraOnePerHour">Price For Extra One Per Hour</span></dt>
        <dd>
            <div *ngIf="clubJoystick.priceForExtraOnePerHour">
                <a [routerLink]="['/tariff', clubJoystick.priceForExtraOnePerHour?.id]">{{clubJoystick.priceForExtraOnePerHour?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'club-joystick/'+ clubJoystick.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
