<div>
    <h2>
        <span jhiTranslate="psClubManagerApp.clubJoystick.home.title">Club Joysticks</span>
        <button class="btn btn-primary float-right jh-create-entity create-club-joystick" [routerLink]="['/', { outlets: { popup: ['club-joystick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="psClubManagerApp.clubJoystick.home.createLabel">
            Create new Club Joystick
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psClubManagerApp.clubJoystick.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clubJoysticks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="psClubManagerApp.clubJoystick.amount">Amount</span></th>
            <th><span jhiTranslate="psClubManagerApp.clubJoystick.club">Club</span></th>
            <th><span jhiTranslate="psClubManagerApp.clubJoystick.joystickDictionary">Joystick Dictionary</span></th>
            <th><span jhiTranslate="psClubManagerApp.clubJoystick.priceForExtraOnePerHour">Price For Extra One Per Hour</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clubJoystick of clubJoysticks ;trackBy: trackId">
                <td><a [routerLink]="['../club-joystick', clubJoystick.id ]">{{clubJoystick.id}}</a></td>
                <td>{{clubJoystick.amount}}</td>
                <td>
                    <div *ngIf="clubJoystick.club">
                        <a [routerLink]="['../club', clubJoystick.club?.id ]" >{{clubJoystick.club?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="clubJoystick.joystickDictionary">
                        <a [routerLink]="['../joystick-dictionary', clubJoystick.joystickDictionary?.id ]" >{{clubJoystick.joystickDictionary?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="clubJoystick.priceForExtraOnePerHour">
                        <a [routerLink]="['../tariff', clubJoystick.priceForExtraOnePerHour?.id ]" >{{clubJoystick.priceForExtraOnePerHour?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../club-joystick', clubJoystick.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'club-joystick/'+ clubJoystick.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'club-joystick/'+ clubJoystick.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
