<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClubJoystickLabel" jhiTranslate="psClubManagerApp.clubJoystick.home.createOrEditLabel">Create or edit a Club Joystick</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!clubJoystick.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clubJoystick.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.clubJoystick.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="clubJoystick.amount" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.clubJoystick.club" for="field_club">Club</label>
            <select class="form-control" id="field_club" name="club" [(ngModel)]="clubJoystick.club" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clubOption.id === clubJoystick.club?.id ? clubJoystick.club : clubOption" *ngFor="let clubOption of clubs; trackBy: trackClubById">{{clubOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.clubJoystick.joystickDictionary" for="field_joystickDictionary">Joystick Dictionary</label>
            <select class="form-control" id="field_joystickDictionary" name="joystickDictionary" [(ngModel)]="clubJoystick.joystickDictionary" >
                <option [ngValue]="null"></option>
                <option [ngValue]="joystickDictionaryOption.id === clubJoystick.joystickDictionary?.id ? clubJoystick.joystickDictionary : joystickDictionaryOption" *ngFor="let joystickDictionaryOption of joystickdictionaries; trackBy: trackJoystickDictionaryById">{{joystickDictionaryOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="psClubManagerApp.clubJoystick.priceForExtraOnePerHour" for="field_priceForExtraOnePerHour">Price For Extra One Per Hour</label>
            <select class="form-control" id="field_priceForExtraOnePerHour" name="priceForExtraOnePerHour" [(ngModel)]="clubJoystick.priceForExtraOnePerHour" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tariffOption.id === clubJoystick.priceForExtraOnePerHour?.id ? clubJoystick.priceForExtraOnePerHour : tariffOption" *ngFor="let tariffOption of tariffs; trackBy: trackTariffById">{{tariffOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
