<div>
    <h2>
        <span jhiTranslate="psClubManagerApp.session.home.title">Sessions</span>
        <button class="btn btn-primary float-right jh-create-entity create-session" [routerLink]="['/', { outlets: { popup: ['session-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="psClubManagerApp.session.home.createLabel">
            Create new Session
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psClubManagerApp.session.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sessions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startedAt"><span jhiTranslate="psClubManagerApp.session.startedAt">Started At</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="finishedAt"><span jhiTranslate="psClubManagerApp.session.finishedAt">Finished At</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="playedHours"><span jhiTranslate="psClubManagerApp.session.playedHours">Played Hours</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="playedMinutes"><span jhiTranslate="psClubManagerApp.session.playedMinutes">Played Minutes</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="psClubManagerApp.session.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="discountPercent"><span jhiTranslate="psClubManagerApp.session.discountPercent">Discount Percent</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="discountMinutes"><span jhiTranslate="psClubManagerApp.session.discountMinutes">Discount Minutes</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="flagOpenedTime"><span jhiTranslate="psClubManagerApp.session.flagOpenedTime">Flag Opened Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="flagCancelled"><span jhiTranslate="psClubManagerApp.session.flagCancelled">Flag Cancelled</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="plannedPrice"><span jhiTranslate="psClubManagerApp.session.plannedPrice">Planned Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totalPrice"><span jhiTranslate="psClubManagerApp.session.totalPrice">Total Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="zone.id"><span jhiTranslate="psClubManagerApp.session.zone">Zone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pricePackage.id"><span jhiTranslate="psClubManagerApp.session.pricePackage">Price Package</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pricePerHour.id"><span jhiTranslate="psClubManagerApp.session.pricePerHour">Price Per Hour</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="client.id"><span jhiTranslate="psClubManagerApp.session.client">Client</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let session of sessions ;trackBy: trackId">
                <td><a [routerLink]="['../session', session.id ]">{{session.id}}</a></td>
                <td>{{session.startedAt | date:'medium'}}</td>
                <td>{{session.finishedAt | date:'medium'}}</td>
                <td>{{session.playedHours}}</td>
                <td>{{session.playedMinutes}}</td>
                <td jhiTranslate="{{'psClubManagerApp.SessionStatus.' + session.status}}">{{session.status}}</td>
                <td>{{session.discountPercent}}</td>
                <td>{{session.discountMinutes}}</td>
                <td>{{session.flagOpenedTime}}</td>
                <td>{{session.flagCancelled}}</td>
                <td>{{session.plannedPrice}}</td>
                <td>{{session.totalPrice}}</td>
                <td>
                    <div *ngIf="session.zone">
                        <a [routerLink]="['../zone', session.zone?.id ]" >{{session.zone?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="session.pricePackage">
                        <a [routerLink]="['../price-package', session.pricePackage?.id ]" >{{session.pricePackage?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="session.pricePerHour">
                        <a [routerLink]="['../tariff', session.pricePerHour?.id ]" >{{session.pricePerHour?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="session.client">
                        <a [routerLink]="['../client', session.client?.id ]" >{{session.client?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../session', session.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'session/'+ session.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'session/'+ session.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
