<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySessionLabel" jhiTranslate="psClubManagerApp.session.home.createOrEditLabel">Create or edit a Session</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-3">
                <h3>
                    Тарифы:
                </h3>
                <div class="btn-group-vertical" style="width: 100%;">
                    <button type="button" class="btn btn-outline-secondary"
                            *ngFor="let p of pricepackages"
                            (click)="addPricePackage(p)"
                            style="position: relative; padding: 14px 5px;"
                    >{{p.name}} <span class="badge badge-info"
                                        style="position: absolute; top: 0; right: 0;"
                    >{{p.price}}т</span>
                    </button>
                </div>
            </div>
            <div class="col-md-9">
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group row">
                    <label class="form-control-label col-md-3">
                        Дата:
                    </label>
                    <div class="col-md-9">
                        {{startArg | date:'dd.MM.yy'}}
                        <!--<div class="input-group mb-3">
                            <input class="form-control" placeholder="dd/mm"
                                   name="dp" [(ngModel)]="startDatePicker" ngbDatepicker #d="ngbDatepicker" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="form-group row">
                    <label class="form-control-label col-md-3">
                        Начало:
                    </label>
                    <div class="col-md-9">
                        {{startArg | date:'HH:mm'}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="form-control-label col-md-3">
                        Окончание:
                    </label>
                    <div class="col-md-9">
                        <span *ngIf="!session.flagOpenedTime; else openedTimeText">{{endArg | date:'HH:mm'}}</span>
                        <ng-template #openedTimeText>Открытое время</ng-template>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="form-control-label col-md-3" jhiTranslate="psClubManagerApp.session.client" for="field_client">
                        Client
                    </label>
                    <div class="col-md-9">
                        <select class="form-control" id="field_client" name="client" [(ngModel)]="session.client" >
                            <option [ngValue]="null"></option>
                            <option [ngValue]="clientOption.id === session.client?.id ? session.client : clientOption"
                                    *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="form-control-label col-md-3">
                        Посещение
                    </label>
                    <div class="col-md-9">
                        1
                    </div>
                </div>
                <div class="form-group row">
                    <label class="form-control-label col-md-3">
                        Скидка
                    </label>
                    <div class="col-md-9">

                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="5" style="text-align: center">
                                Тарифы
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table-dark" *ngIf="!session.pricePackage">
                            <td colspan="5" style="text-align: center;">
                                Выберите основной тариф
                            </td>
                        </tr>
                        <tr class="table-primary" *ngIf="session.pricePackage && !flagTimeSlider">
                            <td>
                                {{session.pricePackage.name}}
                            </td>
                            <td>
                                02:59:59
                            </td>
                            <td>
                                <div [ngSwitch]="session.pricePackage.type+''">
                                    <span *ngSwitchCase="'AN_HOUR'">
                                        <span *ngIf="!session.flagOpenedTime; else openedTimeText">{{session.plannedHours}}ч:{{session.plannedMinutes}}м</span>
                                    </span>
                                    <span *ngSwitchCase="'MINUTES'">
                                        <span>{{session.plannedHours}}ч:{{session.plannedMinutes}}м</span>
                                    </span>
                                    <span *ngSwitchCase="'STARTEND'">
                                        {{session.plannedHours}}ч:{{session.plannedMinutes}}м
                                    </span>
                                    <span *ngSwitchCase="'SERVICE'">
                                        {{session.plannedHours}}ч:{{session.plannedMinutes}}м
                                    </span>
                                </div>
                            </td>
                            <td>
                                <b>{{session.plannedPrice}} тг.</b>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-dark btn-sm"
                                            *ngIf="session.pricePackage.type === 'AN_HOUR'"
                                            title="{{!session.flagOpenedTime ? 'session.flagOpenedTime' : 'Сделать закрытым'}}"
                                            (click)="lockTime(session)"
                                    >
                                        <i class="fa fa-lock"
                                           *ngIf="!session.flagOpenedTime; else openedTimeTemplate"
                                        ></i>
                                        <ng-template #openedTimeTemplate><i class="fa fa-unlock"></i></ng-template>
                                    </button>
                                    <button type="button" class="btn btn-outline-dark btn-sm"
                                            *ngIf="session.pricePackage.type === 'AN_HOUR'"
                                            (click)="showTimeSlider()"
                                    >
                                        <i class="fa fa-edit"></i></button>
                                </div>
                                <button type="button" class="close">&times;</button>
                            </td>
                        </tr>
                        <tr *ngIf="flagTimeSlider">
                            <td colspan="5" style="padding: 1.0rem;">
                                <div>
                                    <nouislider [config]="durationHConfig" [(ngModel)]="durationH" [ngModelOptions]="{standalone: true}"></nouislider>
                                </div>
                                <div>
                                    <nouislider [config]="durationMConfig" [(ngModel)]="durationM" [ngModelOptions]="{standalone: true}" style="margin-top: 4em;"></nouislider>
                                </div>
                                <button type="button" class="btn btn-primary" (click)="setDuration()" style="margin-top: 4em;">Готово</button>
                            </td>
                        </tr>
                        <tr *ngIf="!otherSessions.length && session.pricePackage">
                            <td colspan="5">
                                <p style="text-align: center; margin-top: 16px;">
                                    Остальные тарифы
                                </p>
                            </td>
                        </tr>
                        <tr *ngFor="let op of otherSessions">
                            <td>
                                {{op.pricePackage.name}}
                            </td>
                            <td>
                                02:59:59
                            </td>
                            <td>
                                <div [ngSwitch]="op.pricePackage.type+''">
                                    <span *ngSwitchCase="'AN_HOUR'">
                                        {{op.plannedHours}}ч:{{op.plannedMinutes}}м
                                    </span>
                                    <span *ngSwitchCase="'STARTEND'">
                                        {{op.plannedHours}}ч:{{op.plannedMinutes}}м
                                    </span>
                                    <span *ngSwitchCase="'MINUTES'">
                                        {{op.plannedHours}}ч:{{op.plannedMinutes}}м
                                    </span>
                                    <span *ngSwitchCase="'SERVICE'">
                                        {{op.plannedHours}}ч:{{op.plannedMinutes}}м
                                    </span>
                                </div>
                            </td>
                            <td>
                                <b>{{op.plannedPrice}} тг.</b>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-stop-circle"></i></button>
                                </div>
                                <button type="button" class="close">&times;</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
