
<div *ngIf="session">
    <h2><span jhiTranslate="psClubManagerApp.session.detail.title">Session</span> {{session.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.session.startedAt">Started At</span></dt>
        <dd>
            <span>{{session.startedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.session.finishedAt">Finished At</span></dt>
        <dd>
            <span>{{session.finishedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.session.playedHours">Played Hours</span></dt>
        <dd>
            <span>{{session.playedHours}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.session.playedMinutes">Played Minutes</span></dt>
        <dd>
            <span>{{session.playedMinutes}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.session.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'psClubManagerApp.SessionStatus.' + session.status}}">{{session.status}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.session.discountPercent">Discount Percent</span></dt>
        <dd>
            <span>{{session.discountPercent}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.session.discountMinutes">Discount Minutes</span></dt>
        <dd>
            <span>{{session.discountMinutes}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.session.flagOpenedTime">Flag Opened Time</span></dt>
        <dd>
            <span>{{session.flagOpenedTime}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.session.flagCancelled">Flag Cancelled</span></dt>
        <dd>
            <span>{{session.flagCancelled}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.session.plannedPrice">Planned Price</span></dt>
        <dd>
            <span>{{session.plannedPrice}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.session.totalPrice">Total Price</span></dt>
        <dd>
            <span>{{session.totalPrice}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.session.zone">Zone</span></dt>
        <dd>
            <div *ngIf="session.zone">
                <a [routerLink]="['/zone', session.zone?.id]">{{session.zone?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.session.pricePackage">Price Package</span></dt>
        <dd>
            <div *ngIf="session.pricePackage">
                <a [routerLink]="['/price-package', session.pricePackage?.id]">{{session.pricePackage?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.session.pricePerHour">Price Per Hour</span></dt>
        <dd>
            <div *ngIf="session.pricePerHour">
                <a [routerLink]="['/tariff', session.pricePerHour?.id]">{{session.pricePerHour?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.session.client">Client</span></dt>
        <dd>
            <div *ngIf="session.client">
                <a [routerLink]="['/client', session.client?.id]">{{session.client?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'session/'+ session.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
