
<div *ngIf="zoneDictionary">
    <h2><span jhiTranslate="psClubManagerApp.zoneDictionary.detail.title">Zone Dictionary</span> {{zoneDictionary.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="psClubManagerApp.zoneDictionary.name">Name</span></dt>
        <dd>
            <span>{{zoneDictionary.name}}</span>
        </dd>
        <dt><span jhiTranslate="psClubManagerApp.zoneDictionary.code">Code</span></dt>
        <dd>
            <span>{{zoneDictionary.code}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'zone-dictionary/'+ zoneDictionary.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
